/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#iswpcl {
    margin: 0 -15px 0 -15px;
}

#iswpcl-toolbar {
    display: flex;
    margin-left: 15px;
    margin-bottom: 10px;
}
#iswpcl-language-area,
#iswpcl-category-area
{
    margin-right: 15px;
}

.iswpcl-selector {
    --height: 30px;
    line-height: var(--height);
    height: var(--height);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    background: #efefef;
    font-size: 13px;
}
.iswpcl-selector option {
    height:30px;
    max-height: 30px;
}

#iswpcl-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
}

.iswpcl_card_holder {
    padding: 0 15px 30px 15px;

    width: 100%;
}

@media only screen and (min-width: 576px) {
    .iswpcl_card_holder {
        width: calc(100% * 1/2);
    }
}

@media only screen and (min-width: 768px) {
    .iswpcl_card_holder {
        width: calc(100% * 1/3);
    }
}


.iswpcl_card {
    --shadow: rgba(0,0,0,0.12);

    border: solid 1px var(--shadow);
    height: 100%;
    /*min-height: 400px;*/ /* Could activate this for a standard height */

    -webkit-box-shadow: 0px 1px 2px 0px var(--shadow);
    -moz-box-shadow   : 0px 1px 2px 0px var(--shadow);
    box-shadow        : 0px 1px 2px 0px var(--shadow);
}

.iswpcl_card:hover {
    --shadow: rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 5px 1px var(--shadow);
    -moz-box-shadow   : 0px 1px 5px 1px var(--shadow);
    box-shadow        : 0px 1px 5px 1px var(--shadow);
    transition: box-shadow 0.1s linear;
}


.iswpcl_card_texts {
    padding: 15px;
}

.iswpcl_card_title {
    font-weight: bold;
    margin-bottom: 15px;
}

.site-content a.iswpcl_card_link {
    text-decoration: none;
}


.iswpcl_card_image {
    width: 100%;
    background-size: cover;
    height: 200px;
}